*{
  margin:0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.diwali{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: -webkit-linear-gradient(right, #fe8c00,#f83600,#b21f1f); */
  background: -webkit-linear-gradient(left, #1a2a6c, #b21f1f, #fe8c00);
  
}

.container{
  display: flex;
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: -webkit-linear-gradient(left,#fe8c00,#f83600);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);


}
.container h2{
  text-align: center;
  font-size: 10vw;
  font-weight: 100;
  line-height: 0.7em;
  color:#24243e;
  text-shadow: 0 0 3px skyblue, 0 0 5px goldenrod, 0 0 8px black;
  margin-top: -80px;
  

}

.container h2 span{
  display: block;
  font-weight: 100;
  letter-spacing: 4px;
  font-size: 0.4em;
}

.flex-container{
          display: flex;
          
          margin-top: 50px;
}

.flex-container div{
  
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: -webkit-linear-gradient(left,skyblue,goldenrod);
  color: #5a0104;
  margin: 0 15px;
  text-shadow:
        0 0 4px purple,
        0 0 11px cornsilk,
        0 0 19px cornsilk,
        0 0 40px #0fa,
        0 0 60px #0fa,
        0 0 70px rgb(0, 184, 122),
        0 0 90px rgb(0, 153, 102),
        0 0 100px purple;
    
  font-size: 3em;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  font-weight: 900;
}

.flex-container div::before{
  content: '';
  position: absolute;
  bottom: -30px;
  left:0;
  width: 100%;
  height: 35px;
  background: -webkit-linear-gradient(left,#ee0979,#ff6a00);
  color: antiquewhite;
  text-shadow: 0 0 3px skyblue, 0 0 5px goldenrod, 0 0 8px black;
  font-size: 0.35em;
  line-height: 35px;
  font-weight: 300;

}

.flex-container #day::before{
  content: "Days";
}
.flex-container #hour::before{
  content: "Hour";
}
.flex-container #minute::before{
  content: "Minutes";
}
.flex-container #second::before{
  content: "Seconds";
}

@media only screen and (max-width: 768px){
  .flex-container{
    
    font-size: 2.5vw;
    flex-wrap: wrap;
    
    

  }
  .flex-container div{
  
    position: relative;
    width: 6rem;
    height: 6rem;
    padding-bottom: 100px;
    text-align: center;
    
  }
  .flex-container div::before{
    margin-bottom: 20px;
  }
  .container{
    display: flex;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    
    bottom: 100px;
    
    justify-content: center;
    align-items: center;
    
  
  
  }
  .container h2{
    text-align: center;
    
    
    
  
  }
  
  .container h2 span{
    display: block;
   
  }

  
}